<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180329192292-4td66f78ntihfkr60a1fm7041cfpcpg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180329192292-4td66f78ntihfkr60a1fm7041cfpcpg0</string>
	<key>API_KEY</key>
	<string>AIzaSyDoV4Sf4NKcB8MnQai7Z5JC9n5gTRU_qOE</string>
	<key>GCM_SENDER_ID</key>
	<string>180329192292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceCloth</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-cloth-fae40</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-cloth-fae40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180329192292:ios:1f4198670e6a25f0cb7871</string>
</dict>
</plist>